body {
    margin: 0;
    color: #fff;
    background: #191b1f;
}

.home-header-nav {
    margin: 10px;
    display: block;
}

.nav-logo {
    margin: 10;
    color: #fff;
    width: 50%;
    font-size: 40px;
    text-decoration: none;
    text-align: left;
}

.nav-logo:hover {
    color: #7d796dca;
    transition: all .4s;
}


.nav-list {
    float: right;
    width: 50%;
    display: block;
    text-decoration: none;
}

.nav {
    display: flex;
    flex-direction: row;
    list-style-type: none;
    margin-block-start: 0;
    margin-block-end: 0;
    align-content: normal;
    justify-content: flex-end;
}

.home-menu{
    margin-left: 25px;
    margin-top: 10px;
}

.menu-item {
    margin: 10px;
    color: #fff;
    text-decoration: none;
    font-size: 33px;
}

.menu-item:hover {
    color: #99ceb3e7;
    transition: all .6s;
}

.site-projects {
    background: linear-gradient(25deg, rgb(40, 11, 119) 0%, rgb(5, 22, 58) 100%);

}

.projects {
    padding: 15px;
    display: flex;
    flex-wrap: nowrap;
    flex-direction: column;
    align-items: center;
}

.project-box {
    margin: 30px;
    width: 400px;
    height: 300px;
    border: 1px solid lightgray;
    border-radius: 12px;
    text-align: center;
}

.home-footer {
    display: flex;
    background-color: #000;
    color: #fff;
    bottom: 0;
    height: 100px;
    width: 100%;
}

.footer-content {
    margin: 0 auto;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: column;
}

.footer_btn {
    padding-left: 8px;
    font-size: 2rem;
}

a:-webkit-any-link {
    color: #fff;
    text-decoration: none;
}

.footer_btn.linkedin:hover {
    margin: 1px;
    color:#0077ff
}

.footer_btn.twitter:hover {
    margin: 1px;
    color:#00acee
}

.footer_btn.github:hover {
   margin: 1px;
   color: #6c3d958d;
}

.footer_btn.instagram:hover {
    margin: 1px;
    color: #F77737
}


