body {
    margin: 0;
    color: #fff;
    background: #191b1f;
    cursor: crosshair;
}

.home-header-nav {
    margin: 10px;
    display: block;
}

.nav-logo {
    margin: 10;
    color: #fff;
    width: 50%;
    font-size: 40px;
    text-decoration: none;
    text-align: left;
}

.nav-logo:hover {
    color: #7d796dca;
    transition: all .4s;
}


.nav-list {
    float: right;
    width: 50%;
    display: block;
    text-decoration: none;
}

.nav {
    display: flex;
    flex-direction: row;
    list-style-type: none;
    margin-block-start: 0;
    margin-block-end: 0;
    align-content: normal;
    justify-content: flex-end;
}

.home-menu{
    margin-left: 25px;
    margin-top: 10px;
}

.menu-item {
    margin: 10px;
    color: #fff;
    text-decoration: none;
    font-size: 33px;
}

.menu-item:hover {
    color: #99ceb3e7;
    transition: all .6s;
}

.site-title {
    background: linear-gradient(336deg, rgba(47, 97, 138, 0.6), rgba(160,58,105,.6) 70%);
    width: 100%;
    height: 797px;
}


.myself  {
    margin: 65px;
    margin-top: 15px;
    padding-top: 30px;
    display: block;
    font-family: cursive ;
    font-size: 75px;
    text-align: center;
}

.my-face {
    margin: 15px auto;
    width: 350px;
    border-radius: 33%;
    box-shadow: 0px 7px 68px 5px rgba(241, 123, 251, 0.88);
    -webkit-box-shadow: 0px 7px 68px 5px rgba(193,64,204,0.88);
    -moz-box-shadow: 0px 7px 68px 5px rgba(193,64,204,0.88);
    display: block;
}

.my-face:hover {
    transition: .6s;
    box-shadow: 0px 7px 68px 5px rgba(132, 40, 230, 0.9);
    -webkit-box-shadow: 0px 7px 68px 5px rgba(144, 68, 221, 0.88);
    -moz-box-shadow: 0px 7px 68px 5px rgba(193,64,204,0.88);
}

.about-me {
    margin-top: -30px;
    margin-bottom: 30px;
    padding: 20px;
    display: block;
    text-align: center;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 35px;
}

.home-footer {
    display: flex;
    background-color: #000;
    color: #fff;
    position: static;
    bottom: 0;
    height: 100px;
}

.footer-content {
    margin: 0 auto;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: column;
}

.footer_btn {
    padding-left: 8px;
    font-size: 2rem;
}

a:-webkit-any-link {
    color: #fff;
    text-decoration: none;
}

.footer_btn.linkedin:hover {
    margin: 1px;
    color:#0077ff
}

.footer_btn.twitter:hover {
    margin: 1px;
    color:#00acee
}

.footer_btn.github:hover {
   margin: 1px;
   color: #6c3d958d;
}

.footer_btn.instagram:hover {
    margin: 1px;
    color: #F77737
}

@media screen and (min-width: 768px) {
    body {
        background: linear-gradient(8deg, #0d3f87, #3f919c);
        background-size: 400% 400%;
    }
    .my-face:hover {
        transition: .6s;
        box-shadow: 0px 7px 68px 5px rgba(132, 40, 230, 0.9);
        -webkit-box-shadow: 0px 7px 68px 5px rgba(144, 68, 221, 0.88);
        -moz-box-shadow: 0px 7px 68px 5px rgba(193,64,204,0.88);
    }
    .home-header-nav {
        background: #191b1f;
        margin: 0;
        padding: 25px;
    }
    .site-title {
        background: none;
    }
    .home-footer{
        font-size: 45px;
        position: absolute;
        bottom: 0;
        height: 200px;
        width: 100%;
    }
    .fa-brands, .fab {
        font-size: 100px;
    }
    a:-webkit-any-link {
        color: #fff;
        text-decoration: none;
    }
    
    .footer_btn.linkedin:hover {
        margin: 1px;
        color:#0077ff
    }
    
    .footer_btn.twitter:hover {
        margin: 1px;
        color:#00acee
    }
    
    .footer_btn.github:hover {
       margin: 1px;
       color: #6c3d958d;
    }
    
    .footer_btn.instagram:hover {
        margin: 1px;
        color: #F77737
    }
}