body {
    margin: 0;
    color: #fff;
    background: #191b1f;
}

.home-header-nav {
    margin: 10px;
    display: block;
}

.nav-logo {
    margin: 10;
    color: #fff;
    width: 50%;
    font-size: 30px;
    text-decoration: none;
    text-align: left;
}

.nav-logo:hover {
    color: #7d796dca;
    transition: all .4s;
}


.nav-list {
    float: right;
    width: 50%;
    display: block;
    text-decoration: none;
}

.nav {
    display: flex;
    flex-direction: row;
    list-style-type: none;
    margin-block-start: 0;
    margin-block-end: 0;
    align-content: normal;
    justify-content: flex-end;
}

.home-menu{
    margin-left: 25px;
    margin-top: 10px;
}

.menu-item {
    margin: 10px;
    color: #fff;
    text-decoration: none;
    font-size: 23px;
}

.menu-item:hover {
    color: #99ceb3e7;
    transition: all .6s;
}
/* 
.site-title {
    background-color: ; Colocar un fondo 
} */

.myself  {
    margin: 75px;
    margin-top: 15px;
    padding-top: 30px;
    display: block;
    font-size: 50px;
    text-align: center;
}

.my-face {
    width: 250px;
    border-radius: 33%;
    box-shadow: 0px 7px 68px 5px rgba(193,64,204,0.88);
    -webkit-box-shadow: 0px 7px 68px 5px rgba(193,64,204,0.88);
    -moz-box-shadow: 0px 7px 68px 5px rgba(193,64,204,0.88);
    display: block;
    margin: 0 auto 24px;
}

.about-me {
    margin-top: -30px;
    margin-bottom: 30px;
    padding: 20px;
    display: block;
    text-align: center;
    font-size: 25px;
}

.project-box {
    margin-top: 30px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 30px;
    display: block;
    width: 350px;
    height: 300px;
    border: 1px solid lightgray;
    border-radius: 12px;
    text-align: center;
}

.home-footer {
    margin: 0; 
    padding: 0;
    display: block;
    max-width: 100%;
    height: 75px;
    background-color: #000;
    color: #fff
}

.footer-content {
    margin: 0 auto;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.footer_btn {
    font-size: 1.3rem;
}

a:-webkit-any-link {
    color: #fff;
    text-decoration: none;
}

.footer_btn.twitter:hover {
    color:#00acee
}

.footer_btn.github:hover {
   color: #6c3d958d;
}

.footer_btn.instagram:hover { 
    color: #F77737
}
