body {
    margin: 0;
    color: #fff;
    background: #191b1f;
}

.home-header-nav {
    margin: 10px;
    display: block;
}

.nav-logo {
    margin: 10;
    color: #fff;
    width: 50%;
    font-size: 30px;
    text-decoration: none;
    text-align: left;
}

.nav-logo:hover {
    color: #7d796dca;
    transition: all .4s;
}


.nav-list {
    float: right;
    width: 50%;
    display: block;
    text-decoration: none;
}

.nav {
    display: flex;
    flex-direction: row;
    list-style-type: none;
    margin-block-start: 0;
    margin-block-end: 0;
    align-content: normal;
    justify-content: flex-end;
}

.home-menu{
    margin-left: 25px;
    margin-top: 10px;
}

.menu-item {
    margin: 10px;
    color: #fff;
    text-decoration: none;
    font-size: 23px;
}

.menu-item:hover {
    color: #99ceb3e7;
    transition: all .6s;
}

.container-about {
    margin: 20px;
    padding: 20px;
    font-family: 'DynaPuff', cursive;
}

.column {
    margin: 20px;
    padding: 15px;
    background-color: rgb(16, 13, 19);
    display: flex;
    flex-direction: column;
    border-radius: 26px;
}

.column:hover {
    box-shadow: 5px 2px 13px gray;
}

.title-bg {
    background-image: linear-gradient(-35deg, #955ef4, #634DB6, #7ba193, #5395f8cb, #45dd23);
    background-size: 300%;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.column h2 {
    text-align: center;
    font-size: 60px;
    text-decoration: overline #8656ca;
}

.wia-p {
    font-size: 30px;
    text-align: center;
}

.p-in-p {
    text-align: center;
    font-size: 20px;
    color: #c697ef;
}

.dev-tools {
    padding: 0;
    font-size: 24px;
    text-align: center;
    list-style: none;
}

p {
    font-size: 28px;
    text-align: center;
}

.home-footer {
    background-color: #000;
    color: #fff;
    bottom: 0;
    height: 75px;
    width: 100%;
}

.footer-content {
    margin: 0 auto;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: column;
}

.footer_btn {
    padding-left: 8px;
    font-size: 2rem;
}

a:-webkit-any-link {
    color: #fff;
    text-decoration: none;
}

.footer_btn.linkedin:hover {
    margin: 1px;
    color:#0077ff
}

.footer_btn.twitter:hover {
    margin: 1px;
    color:#00acee
}

.footer_btn.github:hover {
   margin: 1px;
   color: #6c3d958d;
}

.footer_btn.instagram:hover {
    margin: 1px;
    color: #F77737
}